{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="icon" href="{% static '/icon.png' %}" type="image/png">
    <title>
        {% block titulo %}
        Edutec-Alumnos
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <h1>EDUTEC - Administración de Alumnos</h1>
    </nav>
    <div class="container">
        {% block principal %}

        {% endblock %}
    </div>
</body>
</html>